@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
// font-family: 'Montserrat', sans-serif;
@import url('https://fonts.googleapis.com/css?family=Varela+Round&display=swap');
// font-family: 'Varela Round', sans-serif;
// variables
@import './variables/_variables';
// node modules
@import './node_modules/bootstrap/scss/bootstrap.scss';
@import 'https://use.fontawesome.com/releases/v5.8.1/css/all.css';
// @import './node_modules/aos/src/sass/aos.scss';
// @import './node_modules/slick-carousel/slick/slick.scss';
// @import './node_modules/slick-carousel/slick/slick-theme.scss';
// modules
@import './modules/_loader';
@import './modules/_global';
// partials
@import './partials/_header';
@import './partials/_navbar';
@import './partials/_footer';
@import "./partials/_forms.scss";
@import "./partials/_sidebar.scss";
@import "./partials/_gallery.scss";
// vendors
// @import './vendors/_slick';
