<div class="col-sm-9">
    <h2>Who are we?</h2>
    <img class="mx-auto d-block" src="images/who.jpg" />
      <p>
          It is amazing that although Islam is both the most prevailing and the fastest growing religion in the world, yet
          many people never look at Islam from its original resources. To make it easy, we selected some related verses from
          the Holy Quran and authentic narrations of Prophet Mohammad (Peace and blessing be Upon Him) through which you can
          evaluate some of the basic principles and the values of Islam.
        </p>
        <p>However, the full text of the Quran and more authentic narrations are there to go through. Moreover, through years
          of serving some international Islamic organizations which are interested in introducing Islam to non-Muslims, we
          have noticed that each organization is well distinct in introducing a certain facility through their websites and
          not so in others. We try to gather and organize all possible facilities of these friendly sites and introduce them
          to the visitors.
        </p>
        <p>We understand that the material available about Islam in the internet is tremendous; our aim is to offer a simple
          authentic well organized data which we think is suitable for people who are seriously looking for Islam and its
          values.</p>
        <strong>Finally</strong>
        <p>
          we are open to listen and we are willing to cooperate with all those who are interesting in this field.
        </p>
  </div>
