footer {
    color: #93a1a0;
    .footer-chat {
        background: $secondary;
        color: $white;

        button {
            font-size: 1.2rem;
        }
    }
    .footer-links-container {
        background: $light-blue;
        h6 {
            color: $white;
            font-weight: $font-weight-bolder;
        i {
            color: $yellow;
            font-size: $lead-font-size;
        }
    }
        .social-icons i {
            color: $light-grey;
        }
        .footer-links li {
            list-style: none;
            font-size: 14px;
            a {
                color: $light-grey;
            }
        }
        .footer-links li:before {
            color: #777;
            font-size: 14px;
            content: "\f105";
            font-weight: normal;
            display: inline-block;
            font-family: "Font Awesome 5 Free";
            margin-right: 10px;
        }
    }
    .copyright {
        background: $primary;
    }
}
