header {
    background: url(../../images/header-bg.png) top center no-repeat;
    background-size: contain;
    height: 375px;
    max-height: 375px;

    #navbarNav {background: $white;}

    .search-container {
        background: $white;
        border-radius: 50px;

        input {
            border: none;
            height: 40px;
            color: $kashmir-blue;
            font-size: small;
        }

        .btn {
            border-radius: 50px !important;
            height: 35px;
            width: 35px;
            line-height: 20px;
            color: $white;
            padding: 0.5rem;
            margin-top: 0.1rem;
        }
    }

    .login-btn {
        background: $white;
    }
    .login-btn:hover {
        background: $kashmir-blue;
    }

    .dropdown-toggle, .dropdown-menu {
        background: $light-kashmir-blue;
    }

    .social-icons li {
        background: $white;
        color: $kashmir-blue;
        border-radius: 50px;
        height: 35px;
        width: 35px;
        line-height: 30px;
        text-align: center;
    }
    .social-icons li:hover {
        background: $dark-blue;
        color: $white;
        cursor: pointer;
    }
    .list-inline-item:not(:last-child) {
        margin-right: .2rem;
    }
}

@media (min-width: 576px) {

  }
  
  @media (min-width: 768px) {
    
  }
  
  @media (min-width: 992px) {
    
  }
  
  @media (min-width: 1200px) {
   
  }

  @media (max-width: 575.98px) {
  }
  
  @media (max-width: 767.98px) {
    header {
        height: 400px;
        max-height: 400px;
    }
    .navbar {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 999;
    }
    .language {
        text-align: center;
    }
    .login-btn {
        float: right;
    }
    .navbar-brand img {
        max-width: 100%;
    }
  }
  
  @media (max-width: 991.98px) {
  }
  
  @media (max-width: 1199.98px) {
  }