.navbar {
  // background-color: transparentize($color: $black, $amount: 0.7);

  #navbarNav {
    border: 1px solid #eef2f3;
    border-right: 0;
    border-left: 0;
  }

  .nav-link {
    color: $cyan;
    margin: 0px 8px;
    line-height: 34px;
    border-bottom: 3px solid transparent;
  }
  .nav-link:hover, .nav-link.active {
    border-bottom: 3px solid #3a84ae;
  }
  .navbar-toggler {
    border-color: hsla(0,0%,100%,.5);
  }
  .navbar-toggler {
    color: $navbar-light-color;
    border-color: $navbar-light-toggler-border-color;
  }

  .navbar-toggler-icon {
    background-image: $navbar-light-toggler-icon-bg;
  }
  .navbar-dark .navbar-toggler {
    color: rgba(255,255,255,.5);
    border-color: rgba(255,255,255,.1);
  }
}
