.wrapper {
  display: flex;
  align-items: stretch;
}

#sidebar {
  min-width: 220px;
  max-width: 220px;
  min-height: 100vh;
  // background: #7386D5;
  // color: #fff;
  transition: all 0.3s;
}
a[data-toggle="collapse"] {
  position: relative;
}

.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

#sidebar ul.components {
  padding: 20px 0;
  // border-bottom: 1px solid #47748b;
}

#sidebar ul p {
  color: #fff;
  padding: 10px;
}

#sidebar ul li a {
  padding: 10px;
  font-size: 1em;
  display: block;
  color: rgb(50, 204, 204);
}
#sidebar ul li a:hover {
  color: #FFF;
  background: #3a84ae;
  text-decoration: none;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
  color: #fff;
  background: #3a84ae;
}
ul ul a {
  font-size: 0.9em !important;
  padding-left: 30px !important;
  // background: #6d7fcc;
}

@media (max-width: 768px) {
  #sidebar {
      margin-left: -250px;
  }
  #sidebar.active {
      margin-left: 0;
  }
}
