<!-- contact form -->
<section class="col-sm-12">
    <h2>Join us</h2>
      <form id="joinForm" class="col-md-10 offset-md-1">
        <h5>Main Information</h5>
        <div class="form-row">
        <div class="form-group col-md-4">
          <label for="Name">Name</label>
          <input
            type="text"
            class="form-control"
            id="Name"
            aria-describedby="Name"
            placeholder=""
          />
        </div>
        <div class="form-group col-md-4">
            <label for="Phone">Phone / whatsapp </label>
            <input
              type="text"
              class="form-control"
              id="Phone"
              aria-describedby="Phone"
              placeholder=""
            />
          </div>
          <div class="form-group col-md-4">
            <label for="Age">Age</label>
            <input
              type="text"
              class="form-control"
              id="Age"
              aria-describedby="Age"
              placeholder=""
            />
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-4">
          <label for="fb">Your Personal facebook page</label>
          <input
            type="text"
            class="form-control"
            id="fb"
            aria-describedby="fb"
            placeholder=""
          />
        </div>
          <div class="form-group col-md-4">
          <label for="Qualification ">Qualification </label>
          <input
            type="text"
            class="form-control"
            id="Qualification "
            aria-describedby="Qualification"
            placeholder=""
          />
        </div>
        <div class="form-group col-md-4">
            <label for="Nationality">Nationality </label>
            <input
              type="text"
              class="form-control"
              id="Nationality "
              aria-describedby="Nationality "
              placeholder=""
            />
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-4">
              <label for="Location">Location </label>
              <input
                type="text"
                class="form-control"
                id="Location "
                aria-describedby="Location "
                placeholder=""
              />
            </div>
            <div class="form-group col-md-4">
                <label for="City">City</label>
                <input
                  type="text"
                  class="form-control"
                  id="City"
                  aria-describedby="City"
                  placeholder=""
                />
              </div>
              <div class="form-group col-md-4">
                  <label for="Country">Country</label>
                  <select
                  class="form-control"
                  id="Country"
                  >
                    <option>Select country</option>
                    <option>England</option>
                  </select>
              </div>
        </div>
        <div class="form-group">
          <label for="Email">Your 1st choice is to call non-Muslims or to teach new-Muslims ?</label>
          <input
            type="email"
            class="form-control"
            id="Email"
            aria-describedby="emailHelp"
            placeholder=""
          />
        </div>
        <div class="form-group">
          <label for="Message">Studies and other certifications</label>
          <textarea class="form-control" id="Textarea" rows="3"></textarea>
        </div>

        <hr class="mt-4 mb-4" />
        <h5>Other Languages</h5>
        <div class="form-group">
          <label for="MotherLanguage">Mother Language</label>
          <select
          class="form-control"
          id="MotherLanguage"
          >
            <option>Select Language</option>
            <option>English</option>
          </select>
      </div>
      <div class="form-group">
        <label>Other Languages</label>
        <br>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
          <label class="form-check-label" for="inlineCheckbox1">العربية</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
          <label class="form-check-label" for="inlineCheckbox2">English</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option1">
          <label class="form-check-label" for="inlineCheckbox3">Français</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="inlineCheckbox4" value="option2">
          <label class="form-check-label" for="inlineCheckbox4">Deutsch</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3" disabled>
          <label class="form-check-label" for="inlineCheckbox3">3 (disabled)</label>
        </div>
      </div>

      <hr class="mt-4 mb-4" />
        <h5>Abilities</h5>
        <div class="form-group">
          <label for="EssentialJob">Essential job</label>
          <input
            type="text"
            class="form-control"
            id="EssentialJob"
            aria-describedby="Essential Job"
            placeholder=""
          />
        </div>
        <div class="form-group">
          <label>Other abilities interesting for the work team</label>
          <br>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
            <label class="form-check-label" for="inlineCheckbox1">Web_PHP</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
            <label class="form-check-label" for="inlineCheckbox2">Desktop Application</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option1">
            <label class="form-check-label" for="inlineCheckbox3">Graphic</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox4" value="option2">
            <label class="form-check-label" for="inlineCheckbox4">Flash</label>
          </div>
        </div>
      </form>
    </section>
