$rem-baseline: 16px;

html {
  @include rem-baseline;

  @media (max-width: 768px) {
    @include rem-baseline(90%);
  }

}

.font-large {
  font-size: rem(18px);
}

.main-padding {
  padding: rem(30px 0);
}

.img-overlay:before {
  content: "";
  @extend .position-absolute;
  top: 0;
  left: 0;
  @extend .w-100;
  @extend .h-100;
  background-color: transparentize($color: $primary, $amount: 0.7);
}

.full-center {
  @extend .position-absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.mt-30-xs {
  @include media-breakpoint-down(xs) {
    margin-top: 30px;
  }
}

.transition {
  transition: all 0.2s linear;
}
a:link, a:active, a:visited {color: $yellow}
a:hover {color: $dark-blue}
