// loader styles
.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: $white;
  z-index: 11;

  svg {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -20px;
    margin-top: -20px;
    animation: rotate 0.8s linear infinite;
  }
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

.our-vision {
  background-image: url('../images/homepage/products-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
