<!-- footer -->
<footer>
    <div class="footer-chat">
        <div class="container pt-3 pb-3">
            <div class="row">
                <div class="col-md-9 col-sm-12">
                    <h3 class="text-uppercase">More than <span class="font-weight-bolder">10.000</span> muslim around the world</h3>
                </div>
                <div class="col-md-3 col-sm-12 start-chat">
                    <button type="submit"
                    class="btn btn-primary mx-auto d-block">
                    Start Chat <i class="far fa-comments"></i>
                </button>
                </div>
            </div>
        </div>
    </div>
    
        <div class="footer-links-container d-flex pt-3 pb-3">
            <div class="container">
                <div class="row">
                    <div class="col-sm-3">
                        <img src="images/footer-logo.png" alt="Islam Port" class="img-fluid mb-2" />
                        <p class="small">Dolor church-key veniam, fap Bushwick mumblecore irure Vice consectetur 3 wolf moon sapiente literally quinoa.</p>
                        <h6 class="text-white text-uppercase">Stay Connected</h6>
                        <ul class="list-inline social-icons">
                            <li class="list-inline-item pr-1 pl-1"><i class="fab fa-facebook-f"></i></li>
                            <li class="list-inline-item pr-1 pl-1"><i class="fab fa-twitter"></i></li>
                            <li class="list-inline-item pr-1 pl-1"><i class="fab fa-google-plus-g"></i></li>
                            <li class="list-inline-item pr-1 pl-1"><i class="fab fa-youtube"></i></li>
                        </ul>
                    </div>
                    <div class="col-sm-3 align-self-center">
                        <h6 class="text-uppercase"><i class="fas fa-book-reader pr-2 pb-2"></i> Islamic Library</h6>
                        <ul class="footer-links pl-0">
                                <!-- <i class="fa fa-angle-right"></i> -->
                            <li><a href="#" class="">Cras justo odio</a></li>
                            <li><a href="#" class="">Dapibus ac facilisis in</a></li>
                            <li><a href="#" class="">Morbi leo risus</a></li>
                            <li><a href="#" class="">Porta ac consectetur ac</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-3 align-self-center">
                        <h6 class="text-uppercase"><i class="fas fa-phone-volume pr-2 pb-2"></i> Islamic Calls</h6>
                        <ul class="footer-links pl-0">
                            <li><a href="#" class="">Cras justo odio</a></li>
                            <li><a href="#" class="">Dapibus ac facilisis in</a></li>
                            <li><a href="#" class="">Morbi leo risus</a></li>
                            <li><a href="#" class="">Porta ac consectetur ac</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-3 align-self-center">
                        <h6 class="text-uppercase"><i class="fas fa-globe pr-2 pb-2"></i> Friend Websites</h6>
                        <ul class="footer-links pl-0">
                                <li><a href="#" class="">Cras justo odio</a></li>
                                <li><a href="#" class="">Dapibus ac facilisis in</a></li>
                                <li><a href="#" class="">Morbi leo risus</a></li>
                                <li><a href="#" class="">Porta ac consectetur ac</a></li>
                            </ul>
                    </div>
                </div>
            </div>
        </div>
    <div class="copyright p-3 text-center">
        <p class="m-0">Copyright 2020 &copy; Islam-port. All rights reserved</p>
    </div>
</footer>
