<!-- header -->
<header class="pt-3">
  <!-- loader -->
  <div class="loader">
    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
      width="40px" height="40px" viewBox="0 0 50 50" style="enable-background:new 0 0 50 50;" xml:space="preserve">
      <path fill="#002851"
        d="M43.935,25.145c0-10.318-8.364-18.683-18.683-18.683c-10.318,0-18.683,8.365-18.683,18.683h4.068c0-8.071,6.543-14.615,14.615-14.615c8.072,0,14.615,6.543,14.615,14.615H43.935z">
      </path>
    </svg>
  </div>
  <!-- Top nav -->
  <div class="container">
      <div class="row">
          <div class="col-sm-4"><button class="btn login-btn">Login</button></div>
          <div class="col-sm-4">
            <!-- logo -->
            <a class="navbar-brand" href="#">
              <img src="images/logo.png" alt="Islam Port" width="366" height="291" class="" />
            </a>
          </div>
          <div class="col-sm-4">
            <div class="row">
              <div class="col-sm-5 language align-self-start">
                  <div class="btn-group">
                      <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">English <span class="caret"></span></a>
                      <ul class="dropdown-menu">
                        <li class="dropdown-item px-1"><a href="#">French</a></li>
                        <li class="dropdown-item px-1"><a href="#">Other</a></li>
                      </ul>
                    </div>
              </div>
              <div class="col-sm-7 text-center">
                  <ul class="list-inline social-icons">
                      <li class="list-inline-item p-1"><i class="fab fa-facebook-f"></i></li>
                      <li class="list-inline-item p-1"><i class="fab fa-twitter"></i></li>
                      <li class="list-inline-item p-1"><i class="fab fa-google-plus-g"></i></li>
                      <li class="list-inline-item p-1"><i class="fab fa-youtube"></i></li>
                  </ul>
              </div>
            </div>
            <div class="row">
              <div class="col-md-3"></div>
                <div class="search-container shadow-sm input-group col-md-9">
                    <input class="form-control py-2" type="search" value="Search here" id="example-search-input">
                    <span class="input-group-append">
                      <button class="btn btn-secondary" type="button">
                          <i class="fa fa-search"></i>
                      </button>
                    </span>
              </div>
            </div>
          </div>
        </div>
  </div>
  <!-- navbar -->
  <nav class="navbar navbar-expand-lg">
    <div class="container">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <!-- navbar links -->
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About Islam</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">New Muslims</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="#">How to be a muslim</a>
            </li>
          <li class="nav-item">
              <a class="nav-link" href="#">Get to know Islam</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Chat with us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact us</a>
          </li>
          </ul>
          Find your nearest Mosque
      </div>
    </div>
  </nav>
</header>
