<h2 class="w-100">Islamic Pamphlets</h2>
<div class="col-sm-4">
<div class="card">
  <img class="card-img-top" src="images/whyislam.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Why Islam? Beauty & Benefits of Islam</h5>
    <a href="#" class="card-link">Text version</a>
    <a href="#" class="card-link">PDF version</a>
  </div>
</div>
</div>
<div class="col-sm-4">
<div class="card">
  <img class="card-img-top" src="images/whyislam.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Why Islam? Beauty & Benefits of Islam</h5>
    <a href="#" class="card-link">Text version</a>
    <a href="#" class="card-link">PDF version</a>
  </div>
</div>
</div>
<div class="col-sm-4">
<div class="card">
  <img class="card-img-top" src="images/whyislam.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Why Islam? Beauty & Benefits of Islam</h5>
    <a href="#" class="card-link">Text version</a>
    <a href="#" class="card-link">PDF version</a>
  </div>
</div>
</div>