<section class="col-sm-9">
<ul class="list-unstyled">
  <li class="media">
    <div class="media-body">
      <h5 class="mt-0 mb-1">Goethe, quoted in T.P. Hughes’ DICTIONARY OF ISLAM, p. 526.</h5>
      “However often we turn to it [the Qur'an] at first disgusting us each time afresh, it soon attracts, astounds, and in the end enforces our reverence… Its style, in accordance with its contents and aim is stern, grand, terrible – ever and anon truly sublime — Thus this book will go on exercising through all ages a most potent influence.”
    </div>
    <img class="ml-3" src="images/Johann-Wolfgang-von-Goethe.jpeg" alt="Generic placeholder image">
  </li>
  <li class="media my-4">
    <div class="media-body">
      <h5 class="mt-0 mb-1">LG. Margoliouth, Introduction to J.M. Rodwell’s, THE KORAN, New York: Everyman’s Library, 1977, p. vii.</h5>
      “The Koran admittedly occupies an important position among the great religious books of the world. Though the youngest of the epoch-making works belonging to this class of literature, it yields to hardly any in the wonderful effect which it has produced on large masses of men. It has created an all but new phase of human thought and a fresh type of character. It first transformed a number of heterogeneous desert tribes of the Arabian peninsula into a nation of heroes, and then proceeded to create the vast politico-religious organizations of the Muhammadan world which are one of the great forces with which Europe and the East have to reckon today.”
    </div>
  </li>
  <li class="media">
    <div class="media-body">
      <h5 class="mt-0 mb-1">Dr. Steingass, quoted in T.P. Hughes' Dictionary of Islam, pp. 526-7.</h5>
      ''A work, then, which calls forth so powerful and seemingly incompatible emotions even in the distant reader - distant as to time, and still more so as mental development - a work which not only conquers the repugnance which he may begin its perusal, but changes this adverse feeling into astonishment and admiration, such a work must be a wonderful production of the human mind )Editor's note: The Quran is not the production of the human mind, but a revelation from Allaah Almighty) indeed and a problem of the highest interest to every thoughtful observer of the destinies of mankind. ”
    </div>
  </li>
</ul>
</section>