<!-- home sections -->
<section class="main-padding text-center">
  <div class="container">
    <div class="row mb-4">
      <div class="col-sm-3"><img src="images/homepage/FivePillars.png" class="img-fluid" /></div>
      <div class="col-sm-3"><img src="images/homepage/FivePillars.png" class="img-fluid" /></div>
      <div class="col-sm-3"><img src="images/homepage/SixPillars.png" class="img-fluid" /></div>
      <div class="col-sm-3"><img src="images/homepage/ProphetMohamed.png" class="img-fluid" /></div>
    </div><!-- / row -->
    <div class="row">
        <div class="col-sm-3"><img src="images/homepage/FivePillars.png" class="img-fluid" /></div>
        <div class="col-sm-3"><img src="images/homepage/FivePillars.png" class="img-fluid" /></div>
        <div class="col-sm-3"><img src="images/homepage/SixPillars.png" class="img-fluid" /></div>
        <div class="col-sm-3"><img src="images/homepage/ProphetMohamed.png" class="img-fluid" /></div>
      </div><!-- / row -->
      <div class="row">
  </div><!-- / container -->
</section>
