<!-- our branches -->
<section class="main-padding">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <img src="images/homepage/banner-1.png" class="img-fluid" alt="banner">
      </div>
      <div class="col-md-6">
          <img src="images/homepage/banner-2.png" class="img-fluid" alt="banner">
      </div>
    </div>
  </div><!-- / container -->
</section>
