<!-- main slider -->
<section>
  <div class="main-slider">
    <!-- each slide -->
    <div class="slide-item img-overlay">
      <img src="images/homepage/main-slider.jpg" alt="slider-image" width="1366" height="670" class="img-fluid w-100">
      <div class="full-center">
        <img src="images/homepage/slider-logo.png" alt="" width="335" height="265">
      </div>
    </div>
    <!-- each slide -->
    <div class="slide-item img-overlay">
      <img src="images/homepage/main-slider.jpg" alt="slider-image" width="1366" height="670" class="img-fluid w-100">
      <div class="full-center">
        <img src="images/homepage/slider-logo.png" alt="" width="335" height="265">
      </div>
    </div>
  </div><!-- / main-slider -->
</section>
