<!-- our vision -->
<section class="our-vision main-padding text-white text-center">
  <div class="container">
    <h2 class="text-uppercase font-weight-bold mb-5">What Makes us <span class="d-block">different</span></h2>
    <div class="row">
      <!-- each product -->
      <div class="col-md-4 each-product">
        <img src="images/icons/vision.png" alt="" width="75" height="60" class="img-fluid">
        <h5 class="my-2 font-weight-bold">Vision</h5>
        <p class="text-left small">At Kings Coffee, our vision is to specialize in high quality arabica coffee. We
          import,
          roast, grind,
          package, and deliver a true royal taste of coffee to all our customers.</p>
      </div>
      <!-- each product -->
      <div class="col-md-4 each-product">
        <img src="images/icons/experiance.png" alt="" width="75" height="60" class="img-fluid">
        <h5 class="my-2 font-weight-bold">Experience</h5>
        <p class="text-left small">With more than 34 years of experience in the Kuwaiti market, our vision has been and
          will be always be to ensure fresh coffee roasted daily in all of our stores.</p>
      </div>
      <!-- each product -->
      <div class="col-md-4 each-product">
        <img src="images/icons/circulation.png" alt="" width="75" height="60" class="img-fluid">
        <h5 class="my-2 font-weight-bold">Circulation</h5>
        <p class="text-left small">You can easily find us near your, with more than 22 stores strategically located all
          over Kuwait or simply order your favorite coffee to be delivered straight to your home.</p>
      </div>
    </div>
  </div><!-- / container -->
</section>
