@import '../modules/_rem';
// colors
$white: #ffffff;
$black: #000000;
$dark-blue: #1b3031;
$light-kashmir-blue: #c2d6d6;
$kashmir-blue: #5a7a8a;
$light-blue: #3c5655;
$light-grey: #b6b6b6;
$yellow: #e4c93e;
$cyan: #32cccc;
$primary: $dark-blue;
$secondary: $yellow;

//////// bootstrap default variables ///////

// font
$font-weight-light: 300;
$font-weight-bold: 700;
$font-family-base:'Helvetica Neue', sans-serif;
$font-weight-normal:$font-weight-light;
$font-weight-bolder:$font-weight-bold;
$lead-font-size:rem(26px);

// navbar
$navbar-toggler-border-radius:0;
$navbar-light-hover-color:$primary;
$navbar-nav-link-padding-x: 0;
// dropdown
$dropdown-link-hover-bg:$primary;
$dropdown-item-padding-y: 0.5rem;
$dropdown-link-hover-color:$white;

// forms
$input-height:rem(48px);

// buttons
$btn-border-radius: rem(50px);
$btn-padding-x: 2rem;
$btn-padding-y: rem(8px);
$btn-font-size: rem(14px);
$btn-font-weight: $font-weight-light;

// modal
$modal-content-bg:transparent;
$modal-header-padding-y:0;
$modal-header-border-width:0;
$close-font-size:2rem;
$close-text-shadow: 0 2px 0 $white;

// global
$link-color:$white;
$container-max-widths: (sm: 540px,
md: 720px,
lg: 960px,
xl: 1000px) !default;
