<!-- contact form -->
<section class="col-sm-12">
  <h2>Contact us</h2>
    <form class="col-md-6 offset-md-3">
      <div class="form-group">
        <label for="Name">Name</label>
        <input
          type="text"
          class="form-control"
          id="Name"
          aria-describedby="Name"
          placeholder=""
        />
      </div>
      <div class="form-group">
        <label for="Email">Email address</label>
        <input
          type="email"
          class="form-control"
          id="Email"
          aria-describedby="emailHelp"
          placeholder=""
        />
      </div>
      <div class="form-group">
          <label for="Title">Message Title</label>
          <input
            type="text"
            class="form-control"
            id="Title"
            aria-describedby="Title"
            placeholder=""
          />
        </div>
      <div class="form-group">
        <label for="Message">Message</label>
        <textarea class="form-control" id="Textarea" rows="3"></textarea>
      </div>
      <button type="submit" class="btn btn-primary float-right">Send</button>
    </form>
  </section>
